{% extends 'base.html' %}

{% block title %}Итоговый тест{% endblock %}

{% block H1 %}Итоговый тест{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <div class="m-4">
      <h3>
        1. Какой командой можно установить Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. python install Django</h5></li>
        <li><h5>б. py –m Django my_env</h5></li>
        <li><h5>в. Python –m Django –version</h5></li>
        <li><h5>г. Pip install –r requirements.tx</h5></li>
      </ul>
      <h5>Правильный ответ: а. python install Django</h5>
    </div>
    <div class="m-4">
      <h3>
        2. ... – высокоуровневый Python веб-фреймворк, который позволяет быстро создавать безопасные и поддерживаемые
        веб-сайты.
      </h3>
      <h5>Правильный ответ: Django, Веб-фреймворк Django, Фреймворк Django</h5>
    </div>
    <div class="m-4">
      <h3>
        3. Какой архитектурный дизайн у Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Model-Template-View</h5></li>
        <li><h5>б. Model-View-Controller</h5></li>
        <li><h5>в. Resources-View</h5></li>
        <li><h5>г. WSGI</h5></li>
      </ul>
      <h5>Правильный ответ: а. Model-Template-View, б. Model-View-Controller</h5>
    </div>
    <div class="m-4">
      <h3>
        4. Расположите команду создания проекта Django в правильном порядке.
      </h3>
      <ul class="for-ul">
        <li><h5>а. django</h5></li>
        <li><h5>б. startproject</h5></li>
        <li><h5>в. admin</h5></li>
        <li><h5>г. mysite</h5></li>
      </ul>
      <h5>Правильный ответ: а, в, б, г</h5>
    </div>
    <div class="m-4">
      <h3>
        5. Как запустить веб-сервер Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Написать в командной строке python manage.py runserver</h5></li>
        <li><h5>б. Перейти по URL-адресу http://127.0.0.1:8000/</h5></li>
        <li><h5>в. У Django нет возможности запускать сервер</h5></li>
      </ul>
      <h5>Правильный ответ: а. Написать в командной строке python manage.py runserver</h5>
    </div>
    <div class="m-4">
      <h3>
        6. Что такое модель Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. источник информации</h5></li>
        <li><h5>б. набор данных и методов</h5></li>
        <li><h5>в. концептуальная схема</h5></li>
        <li><h5>г. база данных</h5></li>
        <li><h5>д. источник поведения данных</h5></li>
      </ul>
      <h5>Правильный ответ: а. источник информации, д. источник поведения данных</h5>
    </div>
    <div class="m-4">
      <h3>
        7. Какое поле по умолчанию добавляет Django в каждую модель?
      </h3>
      <ul class="for-ul">
        <li><h5>а. поле даты/времени</h5></li>
        <li><h5>б. поле автоматические увеличивающегося первичного ключа</h5></li>
        <li><h5>в. поле заголовка</h5></li>
        <li><h5>г. ничего</h5></li>
      </ul>
      <h5>Правильный ответ: б. поле автоматические увеличивающегося первичного ключа</h5>
    </div>
    <div class="m-4">
      <h3>
        8. Команда python manage.py … производит миграции в базу данных.
      </h3>
      <h5>Правильный ответ: migrate</h5>
    </div>
    <div class="m-4">
      <h3>
        9. Сопоставьте поля с типами данных в Django
      </h3>
      <div class="d-flex justify-content-start">
        <ul class="for-ul">
          <li><h5>а. TextField</h5></li>
          <li><h5>б. FloatField</h5></li>
          <li><h5>в. CharField</h5></li>
          <li><h5>г. IntegerField</h5></li>
        </ul>
        <ul class="for-ul ms-5">
          <li><h5>1. Число с плавающей точкой</h5></li>
          <li><h5>2. Строка неопределённой длины</h5></li>
          <li><h5>3. Целочисленное число</h5></li>
          <li><h5>4. Строка</h5></li>
        </ul>
      </div>
      <h5>Правильный ответ: а-2, б-1, в-4, г-3</h5>
    </div>
    <div class="m-4">
      <h3>
        10. Расположите в правильном порядке процесс создание базы данных в Django.
      </h3>
      <ul class="for-ul">
        <li><h5>
          а. Создать аккаунт суперпользователя (админа) командой createsuperuser. Создать первичную базу с помощью
          команды migrate.
        </h5></li>
        <li><h5>б. Создать первичную базу с помощью команды migrate.</h5></li>
        <li><h5>в. Подготовить и выполнить миграции с помощью команд makemigrations и migrate.</h5></li>
        <li><h5>г. Написать модели, определяющие нужную структуру БД.</h5></li>
      </ul>
      <h5>Правильный ответ: б, а, г, в</h5>
    </div>
    <div class="m-4">
      <h3>
        11. Как можно создать суперпользователя (superuser) в Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Используя команду manage.py createsuperuser</h5></li>
        <li><h5>б. Через админ-панель Django после регистрации обычного пользователя</h5></li>
        <li><h5>в. Автоматически при установке Django без необходимости дополнительных действий</h5></li>
      </ul>
      <h5>Правильный ответ: а</h5>
    </div>
    <div class="m-4">
      <h3>
        12. Как можно настроить административный интерфейс Django для отображения дополнительных полей модели?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Используя атрибут list_display в классе ModelAdmin</h5></li>
        <li><h5>б. Добавляя поля напрямую в файле шаблона админ-панели</h5></li>
        <li><h5>в. Через редактирование файла settings.py проекта Django</h5></li>
        <li><h5>г. Путем создания кастомного middleware</h5></li>
        <li><h5>д. Через расширение стандартного класса AdminSite</h5></li>
        <li><h5>е. С помощью декоратора @admin.register()</h5></li>
      </ul>
      <h5>Правильный ответ: а, е</h5>
    </div>
    <div class="m-4">
      <h3>
        13. Какие методы аутентификации поддерживает Django в административной панели?
      </h3>
      <div class="d-flex justify-content-start">
        <ul class="for-ul">
          <li><h5>а. Аутентификация через базу данных пользователей Django</h5></li>
          <li><h5>б. LDAP-аутентификация</h5></li>
          <li><h5>в. OAuth-аутентификация</h5></li>
          <li><h5>г. Аутентификация через социальные сети</h5></li>
        </ul>
        <ul class="for-ul ms-5">
          <li><h5>1. Метод аутентификации, который позволяет пользователям входить в систему с использованием учетных
            данных из внешнего каталога службы LDAP.</h5></li>
          <li><h5>2. Метод аутентификации, использующий стандартную базу данных пользователей Django для проверки
            учетных данных пользователей</h5></li>
          <li><h5>3. Метод аутентификации, который позволяет пользователям входить в систему, используя учетные данные,
            предоставленные сторонними сервисами, такими как Google, Facebook, Twitter и другие.</h5></li>
          <li><h5>4. Метод аутентификации, который позволяет пользователям входить в систему с использованием учетных
            данных, предоставленных социальными сетями, такими как Facebook, Twitter, GitHub и другие.</h5></li>
        </ul>
      </div>
      <h5>Правильный ответ: а-2, б-1, в-3, г-4</h5>
    </div>
    <div class="m-4">
      <h3>
        14. Каким образом можно выполнить миграции базы данных в Django при развертывании нового функционала?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Автоматически при первом запуске сервера Django после внесения изменений в модели данных.</h5></li>
        <li><h5>б. Редактируя непосредственно SQL-скрипты базы данных с помощью административной панели Django.</h5>
        </li>
        <li><h5>в. Через команду python manage.py makemigrations для создания файлов миграции на основе изменений
          моделей.</h5></li>
        <li><h5>г. Используя команду python manage.py migrate для применения миграций и обновления структуры базы
          данных.</h5></li>
      </ul>
      <h5>Правильный ответ: в, г, а, б</h5>
    </div>
    <div class="m-4">
      <h3>
        15. Добавление нового приложения к Django происходит командой Django-admin … {app_name}
      </h3>
      <h5>Правильный ответ: startapp</h5>
    </div>
    <div class="m-4">
      <h3>
        16. Каким образом конфигурируются URL-адреса в Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Путем редактирования файла конфигурации settings.py, где указываются все доступные URL-адреса
          проекта.</h5></li>
        <li><h5>б. Автоматически при создании нового приложения Django, без необходимости дополнительной конфигурации
          URL-адресации.</h5></li>
        <li><h5>в. С помощью команды python manage.py urls, которая генерирует и выводит список всех доступных
          URL-адресов в проекте.</h5></li>
        <li><h5>г. Через файл urls.py в каждом приложении, где определяются маршруты и их обработчики
          представлений.</h5></li>
      </ul>
      <h5>Правильный ответ: г</h5>
    </div>
    <div class="m-4">
      <h3>
        17. Какие способы конфигурации URL-адресов поддерживаются в Django?
      </h3>
      <ul class="for-ul">
        <li><h5>а. Через файл urls.py в каждом приложении, где определяются маршруты и их обработчики
          представлений.</h5></li>
        <li><h5>б. Через централизованный файл urls.py в корневой директории проекта, где объединяются маршруты из
          различных приложений.</h5></li>
        <li><h5>в. Через классы-контроллеры, которые автоматически обрабатывают URL-запросы без необходимости явного
          указания.</h5></li>
        <li><h5>г. С помощью панели администратора Django, где можно визуально настраивать и управлять всеми
          URL-адресами проекта.</h5></li>
        <li><h5>д. Через файл views.py, где указываются не только функции представлений, но и URL-адреса для них.</h5>
        </li>
      </ul>
      <h5>Правильный ответ: а, б</h5>
    </div>
    <div class="m-4">
      <h3>
        18. Расставьте шаги конфигурации URL-адресов в Django в верном порядке:
      </h3>
      <ul class="for-ul">
        <li><h5>а. Создание маршрутов и их обработчиков представлений в файле urls.py каждого приложения.</h5></li>
        <li><h5>б. Определение централизованных маршрутов в файле urls.py корневой директории проекта.</h5></li>
        <li><h5>в. Подключение приложений к проекту в файле настроек settings.py.</h5></li>
        <li><h5>г. Запуск локального сервера для проверки функционирования URL-адресов.</h5></li>
      </ul>
      <h5>Правильный ответ: в, б, а, г</h5>
    </div>
    <div class="m-4">
      <h3>
        19. Сопоставьте типы HTTP-методов с их соответствующими функциями представлений в Django:
      </h3>
      <div class="d-flex justify-content-start">
        <ul class="for-ul">
          <li><h5>а. GET</h5></li>
          <li><h5>б. POST</h5></li>
          <li><h5>в. PUT</h5></li>
          <li><h5>г. DELETE</h5></li>
        </ul>
        <ul class="for-ul ms-5">
          <li><h5>1. delete_view(request)</h5></li>
          <li><h5>2. update_view(request)</h5></li>
          <li><h5>3. list_view(request)</h5></li>
          <li><h5>4. create_view(request)</h5></li>
        </ul>
      </div>
      <h5>Правильный ответ: а-3, б-4, в-2, г-1</h5>
    </div>
    <div class="m-4">
      <h3>
        20. Файл … в Django используется для определения URL-адресов и соответствующих представлений (views)?
      </h3>
      <h5>Правильный ответ: urls.py, urls</h5>
    </div>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'practice_4' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn disabled" href="#">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
