{% extends 'base.html' %}

{% block title %}Аутентификация и авторизация пользователей{% endblock %}

{% block H1 %}Лекция "Аутентификация и авторизация пользователей в Django"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <h5>Введение в аутентификацию и авторизацию</h5>
    <p>
      Аутентификация — процесс проверки подлинности пользователя. В контексте веб-разработки, это обычно означает
      проверку, является ли пользователь тем, за кого он себя выдает, путем предоставления верных учетных данных, таких
      как имя пользователя и пароль.
    </p>
    <p>
      Авторизация — определение прав доступа пользователя к определенным ресурсам или функциям в системе. После успешной
      аутентификации система определяет, какие действия пользователь имеет право выполнять, и контролирует его доступ к
      различным частям приложения или данным.
    </p>
    <p>
      Аутентификация:
    </p>
    <ul class="ms-5">
      <li>
        Обеспечивает защиту конфиденциальной информации путем проверки подлинности пользователей перед предоставлением
        доступа к системе.
      </li>
      <li>
        Позволяет персонализировать пользовательский опыт, например, предоставляя доступ к персональным настройкам или
        данным.
      </li>
      <li>
        Помогает предотвратить несанкционированный доступ к чувствительным данным или функциям приложения.
      </li>
    </ul>
    <p>
      Авторизация:
    </p>
    <ul class="ms-5">
      <li>
        Гарантирует, что пользователи имеют доступ только к тем ресурсам или функциям, к которым им разрешен доступ.
      </li>
      <li>
        Позволяет управлять привилегиями пользователей в системе, устанавливая правила доступа на основе их ролей или
        других атрибутов.
      </li>
      <li>
        Обеспечивает безопасность приложения путем предотвращения несанкционированного использования или модификации
        данных.
      </li>
    </ul>
    <p>
      Аутентификация и авторизация играют ключевую роль в обеспечении безопасности и функциональности веб-приложений,
      обеспечивая защиту конфиденциальности данных и контролируя доступ пользователей к ресурсам системы. В Django,
      фреймворке для разработки веб-приложений на языке Python, существуют встроенные инструменты и библиотеки для
      управления аутентификацией и авторизацией, что облегчает реализацию этих концепций в вашем приложении.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Аутентификация пользователей в Django</h5>
    <p>
      Django предоставляет встроенную систему аутентификации, которая обеспечивает базовые функции для работы с
      пользователями. Она включает в себя модель User, предназначенную для хранения информации о пользователях, такой
      как логин, пароль и адрес электронной почты. Django также предоставляет готовые представления и формы для
      регистрации, входа и выхода из системы.
    </p>
    <p>
      В Django используются два основных метода аутентификации: сессионная и токенная.
    </p>
    <ul class="ms-5">
      <li>
        Сессионная аутентификация: При использовании сессионной аутентификации Django создает уникальную сессию для
        каждого пользователя после успешного входа в систему. Это позволяет хранить информацию о состоянии
        аутентификации на сервере. Сессии обычно основаны на куки, хранящей уникальный идентификатор сеанса.
      </li>
      <li>
        Токенная аутентификация: Токенная аутентификация в Django основана на использовании токенов доступа. Когда
        пользователь выполняет вход в систему, ему выдается уникальный токен, который затем передается с каждым
        запросом. Этот токен может быть использован для аутентификации и авторизации пользователя.
      </li>
    </ul>
    <p>
      Для работы с пользователями в Django доступны различные методы и функции:
    </p>
    <ul class="ms-5">
      <li>
        Создание пользователя: Django предоставляет возможность создания новых пользователей с помощью методов модели
        User.
      </li>
      <li>
        Управление правами доступа: Администраторы могут назначать и изменять права доступа пользователей через
        административный интерфейс Django.
      </li>
      <li>
        Изменение пароля: Пользователи могут изменять свой пароль через предоставленные формы.
      </li>
      <li>
        Восстановление пароля: Django включает в себя механизм восстановления пароля, который позволяет пользователям
        сбрасывать свои пароли через электронную почту.
      </li>
    </ul>
    <p>
      Эти функции позволяют эффективно управлять пользователями в приложениях на Django, обеспечивая безопасность и
      удобство использования.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Авторизация пользователей в Django</h5>
    <p>
      В Django разграничение доступа к ресурсам обычно осуществляется с помощью системы прав доступа, которая базируется
      на ролях и разрешениях. Ресурсы могут быть представлены моделями, представлениями (views), URL-адресами и другими
      элементами приложения.
    </p>
    <p>
      Основные инструменты для разграничения доступа:
    </p>
    <ul class="ms-5">
      <li>
        Модель User: Django предоставляет встроенную модель пользователя, которая включает в себя базовые атрибуты и
        методы для аутентификации и авторизации
      </li>
      <li>
        Декораторы доступа: Django предоставляет набор декораторов, которые позволяют ограничивать доступ к
        представлениям на основе различных критериев, таких как аутентификация, группы пользователей или кастомные
        правила.
      </li>
    </ul>
    <p>
      Группы пользователей в Django предоставляют способ организации пользователей по категориям и применения разрешений
      к целым группам, вместо назначения разрешений каждому пользователю отдельно. Это делает управление правами доступа
      более гибким и удобным.
    </p>
    <p>
      Основные понятия:
    </p>
    <ul class="ms-5">
      <li>
        Группы пользователей: Позволяют объединять пользователей по логическим категориям, например, "администраторы",
        "пользователи", "модераторы" и т.д.
      </li>
      <li>
        Разрешения: Определяют, какие действия могут выполнить пользователи. Разрешения могут быть назначены как
        отдельным пользователям, так и группам пользователей.
      </li>
    </ul>
    <p>
      Django позволяет создавать пользовательские декораторы для более гибкого управления авторизацией в приложении.
      Декораторы позволяют добавлять дополнительные проверки перед выполнением представления.
    </p>
    <p>
      Основные принципы:
    </p>
    <ul class="ms-5">
      <li>
        Декораторы доступа: Django предоставляет набор встроенных декораторов, таких как login_required, которые
        обеспечивают доступ к представлению только для аутентифицированных пользователей.
      </li>
      <li>
        Пользовательские декораторы: Разработчики могут создавать собственные декораторы, чтобы добавить специфическую
        логику проверки доступа, например, проверку ролей или других параметров пользователя.
      </li>
    </ul>
    <p>
      В Django существует множество инструментов для реализации авторизации пользователей и управления доступом к
      ресурсам. Правильное применение системы прав доступа, групп пользователей и пользовательских декораторов позволяет
      создавать безопасные и функциональные веб-приложения.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'practice_3' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'practice_4' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
