{% extends 'base.html' %}

{% block title %}Формы и обработка данных{% endblock %}

{% block H1 %}Лекция "Формы и обработка данных в Django"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <h5>Основы работы с формами в Django</h5>
    <p>
      Формы в Django представляют удобный способ взаимодействия с данными пользователей на веб-сайтах. Они позволяют
      пользователям вводить и отправлять данные, которые могут быть сохранены или обработаны на сервере. Формы Django
      представлены классами, которые описывают поля данных и их характеристики. Они обеспечивают различные возможности,
      такие как валидация данных, обработка запросов и генерация HTML-кода для отображения форм на веб-страницах.
    </p>
    <p>
      В Django создание форм начинается с определения класса, который наследуется от базового класса django.forms.Form.
      Внутри этого класса определяются поля формы, каждое из которых связывается с определенным типом данных (например,
      текстовое поле, поле выбора и т.д.). Для каждого поля можно также указать различные параметры, такие как метка
      поля, помощь для пользователя, ограничения на вводимые данные и другие.
    </p>
    <p>
      Одним из важных аспектов работы с формами является валидация данных, которая обеспечивает корректность и
      целостность полученных данных. В Django валидация данных форм происходит на уровне сервера. После того, как
      пользователь отправляет данные формы, Django автоматически проверяет их согласно определенным правилам валидации,
      которые могут быть заданы для каждого поля. Если данные не соответствуют заданным правилам, Django генерирует
      сообщения об ошибках, которые могут быть отображены пользователю для исправления.
    </p>
    <p>
      Это основы работы с формами в Django. Разумеется, существует множество дополнительных возможностей и тонкостей,
      которые могут быть изучены для более глубокого понимания и эффективного использования форм в ваших
      веб-приложениях.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Работа с различными типами полей форм</h5>
    <p>
      Текстовые поля и текстовые области являются одними из самых распространенных элементов форм в Django. Они
      используются для ввода и редактирования текстовой информации.
    </p>
    <p>
      Текстовые поля представляют собой однострочные поля ввода, предназначенные для небольших объемов текста, таких как
      имя пользователя или заголовок.
    </p>
    <p>
      Текстовые области - это многострочные поля, обычно используемые для ввода длинных текстов, таких как описания или
      комментарии.
    </p>
    <p>
      Примеры использования:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 700px;" src="/static/images/lec_5_1.jpg">
    </div>
    <p>
      Поля выбора позволяют пользователю выбирать один или несколько вариантов из предопределенного набора значений.
    </p>
    <p>
      Поле выбора используется, когда нужно выбрать одно значение из нескольких предложенных.
    </p>
    <p>
      Множественное поле выбора позволяет выбрать несколько вариантов из списка.
    </p>
    <p>
      Примеры использования:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 700px;" src="/static/images/lec_5_2.jpg">
    </div>
    <p>
      Файловые поля используются для загрузки файлов на сервер.
    </p>
    <p>
      Поле файла позволяет пользователю выбрать один файл для загрузки.
    </p>
    <p>
      Множественное поле файла позволяет загрузить несколько файлов сразу.
    </p>
    <p>
      Примеры использования:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 800px;" src="/static/images/lec_5_3.jpg">
    </div>
    <p>
      Эти типы полей форм в Django предоставляют широкие возможности для создания разнообразных форм для веб-приложений.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Обработка данных из форм</h5>
    <p>
      В Django обработка данных из форм осуществляется в представлениях. После того, как пользователь отправляет форму,
      данные передаются в представление, где их можно обработать. Этот процесс включает в себя следующие шаги:
    </p>
    <ul class="ms-5">
      <li>
        Извлечение данных из формы: Для этого используется объект request.POST для POST-запросов или request.GET для
        GET-запросов.
      </li>
      <li>
        Валидация данных: Данные из формы могут быть проверены на соответствие определенным условиям с использованием
        встроенных средств Django или пользовательских валидаторов.
      </li>
      <li>
        Обработка данных: После валидации данные могут быть обработаны, например, сохранены в базу данных или
        использованы для выполнения определенных действий.
      </li>
      <li>
        Отправка обратной связи пользователю: После обработки данных обычно требуется отправить обратную связь
        пользователю, например, путем отображения сообщения об успешном выполнении операции или предупреждения об
        ошибке.
      </li>
    </ul>
    <p>
      После обработки данных из формы часто требуется сохранить их в базу данных. В Django это делается с помощью
      моделей и объектов менеджеров моделей. Процесс сохранения данных включает в себя следующие шаги:
    </p>
    <ul class="ms-5">
      <li>
        Создание экземпляра модели: Создается экземпляр соответствующей модели, который будет представлять данные из
        формы.
      </li>
      <li>
        Заполнение полей модели: Поля модели заполняются данными из формы.
      </li>
      <li>
        Вызов метода save(): После заполнения полей модели вызывается метод save(), который сохраняет данные в базу
        данных.
      </li>
    </ul>
    <p>
      После успешной обработки данных и сохранения их в базу данных часто требуется выполнить редирект пользователя на
      другую страницу и/или отправить обратную связь. В Django это достигается следующим образом:
    </p>
    <ul class="ms-5">
      <li>
        Редирект: Для выполнения редиректа используется функция redirect(), которая перенаправляет пользователя на
        указанный URL.
      </li>
      <li>
        Отправка сообщений пользователю: Для отправки сообщений пользователю можно использовать функционал мессенджеров,
        предоставляемый Django, например, messages.success() для отправки сообщений об успешном выполнении операции
        или messages.error() для отправки сообщений об ошибках.
      </li>
    </ul>
    <p>
      Эти шаги позволяют эффективно обрабатывать данные из форм, сохранять их в базе данных и обеспечивать обратную
      связь с пользователями веб-приложений на Django.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'practice_2' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'practice_3' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
