{% extends 'base.html' %}

{% block title %}Введение в Django{% endblock %}

{% block H1 %}Лекция "Введение в Django: архитектура и основные концепции"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body roboto-bold">
    <h5>Что такое Django?</h5>
    <p>
      Django - это высокоуровневый веб-фреймворк на языке Python, предназначенный для быстрой разработки веб-приложений
      с акцентом на простоту, продуктивность и соблюдение лучших практик разработки. Он предоставляет разработчикам
      мощный набор инструментов и функций для создания веб-приложений любого уровня сложности, от простых блогов до
      сложных корпоративных ресурсов.
    </p>
    <p>
      В целом, Django - это мощный инструмент для быстрой и эффективной разработки веб-приложений, который обладает
      высокой производительностью, надежностью и расширяемостью.
    </p>
    <p>
      Django создали в 2003–2005 годах веб-программисты онлайн-версии Lawrence Journal-World Адриан Головати и Саймон
      Уиллисон. Фреймворк назван в честь французского гитариста-виртуоза Джанго Рейнхардта (Рана Ренара). Первая версия
      опубликована в 2005 году. С тех пор фреймворк обновляется 1–2 раза в год. С 2008 года поддержкой и развитием
      занимается организация Django Software Foundation (DSF).
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Как работает Django</h5>
    <p>
      Как и любой другой фреймворк, «Джанго» — это программная платформа (каркас), на который разработчик «навешивает»
      дополнительные компоненты приложения, например:
    </p>
    <ul class="ms-5">
      <li>интерфейс пользователя;</li>
      <li>скрипты работы элементов приложения;</li>
      <li>программные библиотеки;</li>
      <li>мультимедийный контент;</li>
      <li>модули безопасности;</li>
      <li>базы данных.</li>
    </ul>
    <p>
      Фреймворк отвечает за базовые аспекты работы продукта. А подключаемые (сменные) модули — за специфичные функции
      конкретного приложения.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body roboto-bold">
    <h5>Архитектура Django</h5>
    <p>
      Шаблон проектирования MTV (Model-Template-View) является основой для создания веб-приложений на основе фреймворка
      Django. MTV очень похож на популярный шаблон проектирования MVC (Model-View-Controller), но с некоторыми
      небольшими различиями в структуре.
    </p>
    <p>
      Контроллер классической модели MVC примерно соответствует уровню, который в Django называется представлением
      (англ. View), а презентационная логика представления реализуется в Django уровнем шаблонов (англ. Template).
      Поэтому архитектуру Django часто называют «Модель–шаблон–представление» (MTV):
    </p>
    <p>
      <strong>1. Model (Модель):</strong>
      Модель представляет собой объекты данных, которые используются вашим приложением. В Django модели обычно
      отображаются на таблицы в базе данных.
      Они содержат информацию о данных, включая поля (атрибуты) и методы, которые могут использоваться для работы с
      этими данными.
      Определение моделей Django происходит в файле models.py внутри приложения Django.
    </p>
    <p>
      <strong>2. Template (Шаблон):</strong>
      Шаблоны представляют собой HTML-файлы с динамическим содержимым, которое формируется с использованием данных,
      предоставленных представлениями.
      Шаблоны могут содержать статический HTML, а также специальные теги и фильтры Django, которые делают шаблоны
      динамическими.
      Определение шаблонов Django происходит в каталоге templates внутри приложения Django.
    </p>
    <p>
      <strong>3. View (Представление):</strong>
      Представления обрабатывают запросы от клиентов и возвращают ответы. Они получают данные из моделей, обрабатывают
      их (если это необходимо), и передают их в шаблоны для отображения.
      Представления могут возвращать HTML-страницы, JSON-ответы или другие типы данных.
      Определение представлений Django происходит в файле views.py внутри приложения Django.
    </p>
    <div class="text-center">
      <img class="myimg rounded" src="/static/images/MTV_arch.png">
    </div>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Основные концепции Django</h5>
    <p>
      <strong>URL-адреса (URLs) - </strong>
      URL-адреса определяют, какие представления должны быть вызваны в ответ на определенные HTTP-запросы.
      В Django используется механизм маршрутизации URL, который соотносит URL-адреса с соответствующими представлениями.
    </p>
    <p>
      <strong>Шаблон URL-адресов (URL Patterns) - </strong>
      Шаблон URL-адресов определяет сопоставление между URL-адресами и представлениями с использованием регулярных
      выражений или строковых шаблонов.
      Он обеспечивает гибкость в определении URL-адресов и позволяет разработчикам создавать чистые и понятные структуры
      URL для своих приложений.
    </p>
    <p>
      <strong>Административный интерфейс (Admin Interface) - </strong>
      Django поставляется с встроенным административным интерфейсом, который автоматически создается на основе
      определенных моделей.
      Административный интерфейс позволяет администраторам управлять данными приложения через веб-интерфейс без
      необходимости написания дополнительного кода.
    </p>
    <p>
      <strong>Мидлвари (Middleware) - </strong>
      Мидлвари - это слои обработки запросов и ответов, которые позволяют изменять или расширять поведение
      Django-приложения.
      Они могут выполнять различные задачи, такие как аутентификация, сжатие данных, кэширование и т. д.
    </p>
    <p>
      Эти основные концепции Django обеспечивают четкую структуру и удобный набор инструментов для создания
      веб-приложений любого уровня сложности. Вместе они способствуют быстрой и эффективной разработке, а также
      обеспечивают высокую производительность и безопасность приложений.
    </p>
    <div class="text-center">
      <img class="myimg rounded" src="/static/images/conceptions_Django.png">
    </div>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <p>
      Django - это мощный фреймворк для разработки веб-приложений, который предоставляет широкий набор инструментов и
      компонентов для упрощения процесса разработки. Он основан на принципах быстроты, эффективности и повторного
      использования кода, что делает его идеальным выбором для создания разнообразных веб-приложений. Рекомендуется
      глубже изучить Django и начать практиковаться, чтобы освоить его возможности и стать опытным разработчиком
      веб-приложений на Python.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn disabled" href="#">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'lection_2' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
