{% extends 'base.html' %}

{% block title %}Работа с URL-адресами и маршрутизацией{% endblock %}

{% block H1 %}Лекция "Работа с URL-адресами и маршрутизацией в Django"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <h5>Основы URL-адресов в Django</h5>
    <p>
      URL-адресация в Django является важной частью разработки веб-приложений, поскольку она определяет, как приложение
      отвечает на запросы пользователей. В Django URL-адресация осуществляется с помощью механизма маршрутизации,
      который связывает конкретные URL-адреса с функциями представления (views), обрабатывающими эти запросы.
    </p>
    <p>
      В Django настройка URL-адресов происходит в файле urls.py каждого приложения и основного проекта. В основном файле
      urls.py проекта определяются корневые URL-адреса, которые направляют запросы к соответствующим приложениям. В
      файле urls.py каждого приложения определяются конкретные маршруты и их обработчики.
    </p>
    <p>
      Пример настройки URL-адресов в файле urls.py проекта:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_4_1.jpg">
    </div>
    <p>
      Пример настройки URL-адресов в файле urls.py приложения:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 500px;" src="/static/images/lec_4_2.jpg">
    </div>
    <p>
      Django поддерживает использование регулярных выражений для более гибкой настройки URL-адресов. Регулярные
      выражения позволяют определять шаблоны URL-адресов с использованием различных паттернов, что упрощает обработку
      запросов.
    </p>
    <p>
      Пример использования регулярных выражений в URL-адресах:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 500px;" src="/static/images/lec_4_3.jpg">
    </div>
    <p>
      Регулярное выражение ^articles/(\d{4})/$ соответствует URL-адресам вида articles/(год)/, где
      (год) - это четырехзначное число.
    </p>
    <p>
      В заключение, понимание основ URL-адресации в Django позволяет эффективно организовывать структуру веб-приложений
      и обрабатывать запросы пользователей, а использование регулярных выражений расширяет возможности настройки
      маршрутов URL-адресов для более гибкой работы приложений.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Работа с маршрутами в Django</h5>
    <p>
      В Django, маршрутизация URL-адресов обеспечивается с помощью файлов urls.py в приложениях. Маршруты определяются с
      помощью функции urlpatterns в этом файле. Когда приходит HTTP-запрос, Django сравнивает URL-адрес запроса с
      определенными маршрутами и передает управление соответствующему представлению (view).
    </p>
    <p>
      Маршруты могут содержать параметры, которые извлекаются из URL-адреса и передаются в представление. Это
      осуществляется с использованием регулярных выражений и группирования внутри маршрутов. Например, маршрут
      path('articles/
      (int:article_id)/', views.article_detail) извлекает целочисленный параметр article_id из URL-адреса и передает его
      в представление article_detail.
    </p>
    <p>
      Именованные маршруты позволяют ссылаться на маршруты в шаблонах и коде Python, используя их имена вместо
      конкретных URL-адресов. Это делается с помощью атрибута name при определении маршрутов. Например,
      path('articles/', views.article_list, name='article_list') определяет именованный маршрут для списка статей. Затем
      этот маршрут может быть использован в шаблонах или Python-коде, например, { url 'article_list' } или
      reverse('article_list').
    </p>
    <p>
      Это основные концепции работы с маршрутами в Django, которые позволяют эффективно организовывать и управлять
      URL-адресами в веб-приложениях.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Расширенная маршрутизация и обработка URL</h5>
    <p>
      В Django, вложенные маршруты предоставляют возможность организации иерархической структуры URL. Это особенно
      полезно при проектировании приложений с комплексной архитектурой. Для создания вложенных маршрутов в Django
      используется функция include(), которая позволяет включать маршруты из других приложений или модулей. Например:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_4_4.jpg">
    </div>
    <p>
      В файле urls.py вложенного приложения (например, "blog") определяются маршруты, относительно корневого маршрута,
      указанного в главном приложении.
    </p>
    <p>
      В Django существует несколько способов реализации редиректов и перенаправлений. Один из наиболее распространенных
      способов - использование класса RedirectView, который позволяет создавать простые редиректы. Например:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 500px;" src="/static/images/lec_4_5.jpg">
    </div>
    <p>
      Также можно использовать функцию redirect() для перенаправления на другой URL в представлении:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_4_6.jpg">
    </div>
    <p>
      Для обработки несуществующих URL в Django используется механизм обработчиков ошибок. Например, для обработки
      ошибки 404 (страница не найдена) можно использовать стандартный обработчик handler404. Создание обработчика ошибки
      404 в Django выглядит следующим образом:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 500px;" src="/static/images/lec_4_7.jpg">
    </div>
    <p>
      Где myapp.views.my_custom_404_view - это функция представления, которая будет вызываться при возникновении ошибки
      404.
    </p>
    <p>
      Также можно создать собственный обработчик ошибок, например, для обработки других типов ошибок, таких как 500
      (внутренняя ошибка сервера).
    </p>
    <p>
      Эти методы позволяют эффективно управлять обработкой несуществующих URL и улучшить пользовательский опыт в случае
      возникновения ошибок.
    </p>
    <p>
      Это основные аспекты расширенной маршрутизации и обработки URL в Django, которые позволяют эффективно управлять
      навигацией и улучшить пользовательский опыт в веб-приложениях.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'lection_3' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'practice_2' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
