{% extends 'base.html' %}

{% block title %}Модели и базы данных{% endblock %}

{% block H1 %}Лекция "Модели и базы данных в Django"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <h5>Основы моделей Django</h5>
    <p>
      Модели в Django играют ключевую роль в определении структуры данных вашего приложения. Они представляют собой
      классы Python, которые отображаются на таблицы в базе данных. Это означает, что каждый атрибут класса представляет
      собой поле в таблице базы данных, а каждый экземпляр класса соответствует записи в этой таблице. Django использует
      ORM (Object-Relational Mapping), что позволяет вам работать с базой данных с использованием
      объектно-ориентированного подхода.
    </p>
    <p>
      Для определения моделей данных в Django вы определяете классы, которые наследуются от django.db.models.Model. Этот
      класс предоставляет множество методов и атрибутов для определения структуры вашей базы данных. Внутри этих классов
      вы определяете атрибуты, которые представляют собой поля таблицы. Каждый тип поля имеет свои собственные параметры
      для определения поведения и характеристик этого поля.
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_2_1.jpg">
    </div>
    <p>
      В этом примере MyModel содержит два поля: name и age, которые соответствуют столбцам в базе данных.
    </p>
    <p>
      Django предоставляет множество типов полей для определения различных типов данных в вашей базе данных. Некоторые
      из основных типов полей:
    </p>
    <ul class="ms-5">
      <li>CharField: хранит строку заданной длины.</li>
      <li>IntegerField: хранит целое число.</li>
      <li>DateField, DateTimeField: хранят дату и время соответственно.</li>
      <li>ForeignKey: создает связь между двумя моделями, указывая на запись в другой таблице.</li>
      <li>ManyToManyField: создает связь "многие ко многим" между двумя моделями.</li>
    </ul>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 600px;" src="/static/images/lec_2_2.jpg">
    </div>
    <p>
      В этом примере Book имеет поле author, которое является внешним ключом, указывающим на запись в таблице Author.
      Также есть поле genres, которое представляет собой многие-ко-многим отношение с моделью Genre.
    </p>
    <p>
      Эти типы полей позволяют определять разнообразные структуры данных, от простых строк и чисел до сложных связей
      между объектами.
    </p>
    <p>
      Это основы моделей Django, которые вы можете использовать для определения структуры данных вашего приложения.
      Внимательное изучение и использование этих концепций поможет вам создать мощные и гибкие приложения на Django.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Работа с базами данных</h5>
    <p>
      В Django, настройка базы данных начинается с определения соответствующих параметров в файле settings.py. Для этого
      обычно используется переменная DATABASES, в которой указывается тип базы данных, её имя, пользователь и пароль
      (если требуется). Django поддерживает различные типы баз данных, такие как SQLite, PostgreSQL, MySQL и другие.
      После указания параметров необходимо выполнить команду python manage.py migrate, чтобы создать необходимые таблицы
      в базе данных.
    </p>
    <p>
      Миграции в Django представляют собой способ автоматического обновления схемы базы данных на основе изменений в
      моделях Django. При создании новой модели или изменении существующей Django создает файл миграции, который
      содержит инструкции по изменению структуры базы данных. После создания миграции необходимо выполнить команду
      python manage.py migrate, чтобы применить эти изменения к базе данных. Миграции позволяют поддерживать
      консистентность схемы базы данных в разработке и в производстве.
    </p>
    <p>
      CRUD (Create, Read, Update, Delete) операции являются основными операциями, выполняемыми с данными в базе данных.
    </p>
    <ul class="ms-5">
      <li>Create (Создание): Для создания новой записи в базе данных в Django используется
        метод objects.create() модели. Например, MyModel.objects.create(field1=value1, field2=value2).
      </li>
      <li>Read (Чтение): Для чтения данных из базы данных используется метод objects.all() модели для получения всех
        записей, либо методы filter(), get(), exclude() для получения определенных записей в соответствии с заданными
        критериями.
      </li>
      <li>Update (Обновление): Для обновления данных в базе данных используется метод update() для одновременного
        обновления нескольких записей, или метод save() для обновления отдельной записи.
      </li>
      <li>Delete (Удаление): Для удаления записей из базы данных используется метод delete() модели.
        Например, MyModel.objects.filter(field=value).delete().
      </li>
    </ul>
    <p>
      Эти операции позволяют эффективно управлять данными в базе данных с помощью Django ORM.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Отношения между моделями</h5>
    <p>
      Одномерные отношения:
    </p>
    <p>
      В Django, одномерные отношения между моделями определяют связь между двумя моделями, где одна модель ссылается на
      другую через внешний ключ (ForeignKey). Одномерные отношения включают в себя:
    </p>
    <ul class="ms-5">
      <li>
        ForeignKey: Это основной механизм для создания одномерных отношений между моделями. Он позволяет одной модели
        ссылаться на другую, определяя внешний ключ на поле в связанной модели. Например, если у нас есть модели Author
        и Book, то каждая книга может ссылаться на одного автора через внешний ключ author = models.ForeignKey(Author,
        on_delete=models.CASCADE).
      </li>
      <li>
        OneToOneField: Этот тип поля создает одномерное отношение, где каждый объект одной модели связан с одним
        объектом другой модели. Это подобно ForeignKey, но с ограничением, что каждый объект может быть связан только с
        одним объектом в связанной модели.
      </li>
    </ul>
    <p>
      Многомерные отношения:
    </p>
    <p>
      Многомерные отношения в Django позволяют создавать более сложные структуры связей между моделями. Они включают в
      себя:
    </p>
    <ul class="ms-5">
      <li>
        ManyToManyField: Этот тип поля позволяет устанавливать многие-ко-многим отношения между двумя моделями. Каждый
        объект одной модели может быть связан с одним или более объектами другой модели, и наоборот. Django создает
        дополнительную промежуточную таблицу для отслеживания связей между объектами.
      </li>
      <li>
        ManyToManyField через промежуточную модель: Иногда требуется дополнительная информация о связи между объектами
        моделей. В таких случаях можно использовать ManyToManyField через промежуточную модель, где промежуточная модель
        содержит дополнительные поля помимо внешних ключей на связанные модели.
      </li>
    </ul>
    <p>
      Эти типы отношений позволяют строить более сложные базы данных в Django, обеспечивая гибкость и
      структурированность в разработке веб-приложений.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'lection_1' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'practice_1' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
