{% extends 'base.html' %}

{% block title %}Представления и шаблоны{% endblock %}

{% block H1 %}Лекция "Представления и шаблоны в Django"{% endblock %}

{% block section1 %}
<div class="card m-5">
  <div class="card-body">
    <h5>Основы представлений Django</h5>
    <p>
      Представления (views) в Django представляют собой компоненты, которые обрабатывают запросы от клиента и возвращают
      соответствующие ответы. Они являются связующим звеном между моделями данных и шаблонами пользовательского
      интерфейса. Основная цель представлений - принимать данные из моделей или других источников, обрабатывать их, и
      передавать результаты в шаблоны для отображения пользователю.
    </p>
    <p>
      В Django представления могут быть созданы как функции или классы.
    </p>
    <p>
      Функциональные представления- это обычные функции Python, которые принимают объект запроса и возвращают объект
      ответа. Они обычно определяются в файле views.py. В функциональных представлениях мы можем обрабатывать запросы,
      получать данные из моделей, формировать ответы и передавать их обратно клиенту.
    </p>
    <p>
      Пример функционального представления:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 500px;" src="/static/images/lec_3_1.jpg">
    </div>
    <p>
      Классы представлений- это классы Python, которые наследуются от базовых классов Django и предоставляют удобный
      способ организации логики представлений. Они могут предоставлять дополнительные возможности, такие как
      использование миксинов для повторного использования кода или управление различными HTTP методами.
    </p>
    <p>
      Пример класса представления:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_3_2.jpg">
    </div>
    <p>
      Шаблонизация в Django позволяет разделять логику представления от представления данных пользователю. Шаблоны
      Django - это файлы, содержащие HTML с вставками Python кода, который может использоваться для отображения
      динамических данных.
    </p>
    <ul class="ms-5">
      <li>
        В шаблонах можно использовать переменные, циклы, условия и другие конструкции языка Python для формирования HTML
        страницы на основе данных, переданных из представления.
      </li>
      <li>
        Шаблоны обычно хранятся в отдельной директории, например,templates, и могут быть подключены к представлениям с
        помощью методов рендеринга в Django.
      </li>
    </ul>
    <p>
      Пример шаблона:
    </p>
    <div class="text-center">
      <img class="myimg rounded" style="max-width: 400px;" src="/static/images/lec_3_3.jpg">
    </div>
    <p>
      Это основы представлений в Django, которые позволяют разрабатывать динамические веб-приложения, разделяя логику и
      отображение данных.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Работа с шаблонами</h5>
    <p>
      Шаблоны в Django - это инструмент, позволяющий разделять дизайн веб-страницы и ее логику. Они представляют собой
      файлы, в которых определяется структура и внешний вид веб-страницы, включая HTML, CSS и JavaScript, а также
      специальные теги и фильтры Django для вставки динамических данных. Использование шаблонов помогает создавать
      масштабируемые и удобные для поддержки веб-приложения.
    </p>
    <p>
      Для создания шаблонов в Django используется специальная директория templates, которая обычно размещается внутри
      приложения Django. В этой директории создаются файлы шаблонов с расширением .html, в которых определяется внешний
      вид веб-страницы. Шаблоны могут содержать статические элементы (такие как текст, изображения), а также специальные
      теги и фильтры Django для вставки динамических данных из контекста представления.
    </p>
    <p>
      Django предоставляет множество встроенных шаблонных тегов и фильтров для управления логикой и форматированием
      данных в шаблонах. Некоторые из наиболее часто используемых тегов включают { for }, { if }, { include }, а
      также циклы и условные операторы для управления отображением данных. Фильтры используются для форматирования и
      обработки значений, например, фильтр |date для форматирования даты. Использование шаблонных тегов и фильтров
      позволяет создавать динамические и гибкие шаблоны, а также улучшает читаемость и поддерживаемость кода.
    </p>
    <p>
      Это основные концепции работы с шаблонами в Django, которые позволяют разрабатывать эффективные и гибкие
      веб-приложения.
    </p>
  </div>
</div>
<div class="card m-5">
  <div class="card-body">
    <h5>Расширение шаблонов и наследование</h5>
    <p>
      Расширение шаблонов в Django позволяет создавать базовый шаблон, который можно настраивать или расширять в других
      шаблонах. Основной идеей является разделение шаблонов на небольшие компоненты для повторного использования и
      управления кодом.
    </p>
    <p>
      Чтобы расширить шаблон в Django, используется механизм { extends }. Этот тег указывает на то, какой шаблон нужно
      расширить. После этого можно использовать блоки для переопределения содержимого определенных частей базового
      шаблона.
    </p>
    <p>
      Наследование шаблонов - это ключевая концепция в Django, позволяющая создавать иерархию шаблонов для повторного
      использования и организации кода. В Django каждый шаблон может наследовать от другого шаблона, что позволяет
      уменьшить дублирование кода и облегчить его поддержку.
    </p>
    <p>
      Для создания наследования шаблонов используется тег { block }, который определяет области, в которых можно
      переопределить содержимое в дочерних шаблонах.
    </p>
    <p>
      Блочное наследование позволяет переопределять содержимое определенных областей базового шаблона, не затрагивая
      остальную часть шаблона. Это позволяет создавать гибкие и модульные шаблоны, которые легко адаптировать под
      различные ситуации.
    </p>
    <p>
      В Django блочное наследование реализуется с помощью механизма блоков. В базовом шаблоне определяются блоки с
      помощью тега { block }, а в дочерних шаблонах эти блоки переопределяются по необходимости.
    </p>
    <p>
      Этот подход позволяет создавать мощные и гибкие шаблоны в Django, что делает разработку веб-приложений более
      эффективной и удобной.
    </p>
    <p>
      Это основные концепции расширения и наследования шаблонов в Django, которые позволяют создавать модульные и легко
      поддерживаемые веб-приложения.
    </p>
  </div>
</div>
{% endblock %}
{% block section2 %}
<div class="d-flex justify-content-around">
  <a class="btn btn-primary acc-btn" href="{% url 'practice_1' %}">Назад</a>
  <a class="btn btn-primary acc-btn" href="{% url 'index' %}">Главное меню</a>
  <a class="btn btn-primary acc-btn" href="{% url 'lection_4' %}">Дальше</a>
</div>
{% endblock %}
{% block section3 %}

{% endblock %}
